@font-face {
  font-family: KotoriRose;
  src:
    url(fonts/texgyreheros_bold.otf)
    format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: KotoriRose;
  src:
    url(fonts/JetBrainsMono-Regular.ttf)
    format('opentype');
}

html {
  line-height: 1.2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.links a {
  text-decoration: none; /* Oculta el subrayado por defecto */
}

a {
  color: #ffef95;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background: linear-gradient(to right, #714E6A, #EA7471); /* Fondo gradiente */
  font-family: KotoriRose, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 11px;
  padding: 1em;
  max-width: 768px;
  margin: auto;
  margin-bottom: 1em;
  color: #ffffff; /* Cambia el color de las letras a blanco */
}

header {
  font-size: 1em;
  padding: 0.1em;
  margin: 0;
  border: 0.0em solid #ffffff;
  text-align: center;
  font-weight: bold;
  -webkit-box-shadow: 6px 6px 0px 0px #3A3649(91,91,91,1);
  -moz-box-shadow: 5px 5px 0px 0px 3 #3A3649(91,91,91,1);
  box-shadow: 5px 5px 0px 0px #3A3649(91,91,91,1);
}

header h1 {
  margin: 0;
}
